.divDetails {
  position: static;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  border: 1px solid;
  margin: 0;
  padding: 5px 10px;
  width: fit-content;
  white-space: nowrap;
}
.top{
  margin-top: -35px;
}
.bottom{
  margin-top: 20px;
}
.detailsWrapper{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
